<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="logout">Logout</a>
    </li>

  </ul>
</nav> -->

<body class="news">
  <header>
    <div class="nav">
      <ul>
        <li>
          <Label for="account">Account</Label>
          <select name="account" id="account">
              <a class="nav-link" routerLink="login"><option value="login" outerLink="login">Login</option></a>
              <a class="nav-link" routerLink="logout"><option value="logout" routerLink="logout">Logout</option></a>
          </select>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="logout">Logout</a>
        </li> -->
      </ul>
    </div>
  </header>
</body>
