<body class="news">
  <header>
    <div class="nav">
      <ul>
          <li>
              <a class="nav-link" routerLink="list-ailments">Home</a>
            </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item active">
<!--          <a class="nav-link" routerLink="logout">Logout</a>-->
          <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoggedIn()">
      Welcome {{loggedUser()}} to the application!
    </div>
  </header>

</body>
